@font-face {
  font-family: 'blinkmac-md';
  src: url(../fonts/blinkmacsystemfont-regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'blinkmac-md';
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 25px;
  letter-spacing: 0.8px;
}

a {
  @apply text-primary-light hover:text-primary-hover transition-all transition-duration-200;
}

a:not(.btn-primary, .btn) {
  @apply no-underline;
}

p {
  @apply text-primary;
}

.page {
  @apply pt-18 md:pt-25 mx-auto max-w-4xl w-full px-5 md:px-10;

  .title {
    @apply text-xl md:text-4xl font-bold;
  }
}

main.page {
  @apply max-w-5xl;

  h1 {
    @apply mb-5;
  }

  p {
    @apply text-sm md:text-base;
  }
}

.md-mg-sm2 {
  margin-bottom: 10px;
}

.md-mg-sm {
  margin-bottom: 16px;
}

.md-mg-md {
  margin-bottom: 24px;
}

.md-mg-lg {
  margin-bottom: 30px;
}

.md-mg-xl {
  margin-bottom: 35px;
}

.post,
.project {
  * {
    @apply max-w-full my-1.5 md:my-2;
  }

  h1,
  h2,
  h2 a,
  h3,
  h3 a {
    @apply pt-1.5 pb-2 md:pt-2.5 md:pb-4;
    color: black !important;
  }

  h1 {
    @apply pt-9 md:pt-12;
  }

  h2 {
    @apply text-xl;
  }

  ol,
  ul {
    @apply pl-8 md:pl-10;
  }
}
